@using Pokedex.Core.Application.ViewModels.Pokemon
@using Pokedex.Core.Application.ViewModels.Region
@using Pokedex.Core.Application.ViewModels.Type
@model PokemonListViewModel;
@{

    ViewData["Title"] = "Inicio";
    int regionid = Convert.ToInt32(ViewData["region"]);
    string namesearch = ViewData["name"] == null ? "" : ViewData["name"].ToString();
}

<form method="get" id="search-form" asp-controller="Home" asp-action="Index">
    <div class="row" id="search-bar" asp-for="Search">
        <div class="col-12">
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-3 col-sm-12 p-0"></div>
                <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                    <select name="region" class="form-control" id="region-filter" onchange="filter()">
                        <option value="0">Sin filtro de region</option>
                        @foreach(var region in Model.Regions){
                            @if (region.Id == regionid)
                            {
                                <option value="@region.Id" selected>@region.Name</option>
                            }else{
                                <option value="@region.Id">@region.Name</option>
                            }
                            
                        }
                    </select>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 p-0">
                    <input name="name" type="text" placeholder="Buscar..." class="form-control" id="search" value="@namesearch">
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                    <button type="submit" class="btn btn-outline-secondary btn-base">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row" style="margin:15px;">
    <h2>Inicio</h2>
</div>

<div id="pokemons-cards" class="row row-cols-1 row-cols-md-3 g-4">

    @if (Model == null || Model.Pokemons.Count == 0)
    {
        if(regionid==0 || namesearch=="" || namesearch==null){
            <h2>No hay Pokemones agregados en la base de datos</h2>
        }
        else
        {
            <h2>No hay Pokemones correspondientes con los filtros seleccionados</h2>
        }
    }else{

        foreach(PokemonViewModel item in Model.Pokemons)
        {
            string type1 = "";
            string type2 = "";
            string region = "";

            foreach(TypeViewModel type in Model.Types){
                if(type.Id == item.PrimaryTypeId)
                {
                    type1 = type.Name;
                }

                if(type.Id == item.SecondaryTypeId)
                {
                    type2 = type1 == type.Name ? "Sin tipo secundario" : type.Name;
                }

                @*type1 = type.Id == item.PrimaryTypeId ? type.Name : "";
                type2 = type.Id == item.SecondaryTypeId ? type.Name : "";*@
            }

            foreach(RegionViewModel regionitem in Model.Regions)
            {
                if(regionitem.Id == item.RegionId)
                {
                    region = regionitem.Name;
                }
                @*region = regionitem.Id == item.RegionId ? regionitem.Name : "";*@
            }

          <div class="col">
          <div class="card shadow-sm pokemon-card">
            <img class="bd-placeholder-img card-img-top" src="@item.ImgUrl"/>

            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
              <p class="card-text"><b>Tipo Principal: </b>@type1<br />
                <b>Tipo Secundario: </b>@type2 <br />
                    @item.Description </p>
              <div class="d-flex justify-content-between align-items-center">
                @*<div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>*@
                <small class="fw-bold text-white">@region</small>
              </div>
            </div>
          </div>
        </div>
        }
    }

</div>

<script type="text/javascript" src="~/js/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="~/js/Home.js"></script>
    <link rel="stylesheet" href="~/css/pokemon.css" />
